
@{
    ViewData["Title"] = "Vpop Page";

}

<div>
      <h1 class="header">Welcome to Vpop Eatery</h1>
      
      <p class="fontsize">This website is an online food ordering system that allow you <br />to order
           Vietnamese sandwich called Banh Mi, snacks and salad bowl.
      </p>
</div>

<div class="text-center">
    <img src="~/images/food.png" alt="Food" width=60%>
</div>
